APP_BASE_URL=http://localhost:3000
DATABASE_URL=postgresql://user:password@localhost:5432/airq

# Mapas
NEXT_PUBLIC_MAPBOX_TOKEN=mapbox_public_token
NEXT_PUBLIC_CESIUM_TOKEN=NEXT_PUBLIC_CESIUM_TOKEN

# Alertas (gmail)
ALERTS_SMTP_USER=your_gmail_address@gmail.com
ALERTS_SMTP_APP_PASSWORD=your_gmail_app_password

# Para Github Actions
ALERTS_RUN_SECRET=your_run_secret_here
ALERTS_RUN_URL=http://localhost:3000/api/alerts/run