NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_MAPBOX_TOKEN=mapbox_public_token
NEXT_PUBLIC_CESIUM_TOKEN=cesium_token
SERVER_BASE_URL=http://localhost:5050/api
DATABASE_URL=postgresql://user:password@localhost:5432/airq
