SECRET_KEY=random-secret-key
SQLALCHEMY_DATABASE_URI=postgresql://user:password@host:port/database_name
DEVELOPMENT_HOST=http://localhost:5173
PRODUCTION_HOST=http://localhost:5173

MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_email_password # Use app-specific password for Gmail

# On Windows cmd
# set FLASK_APP=wsgi.py

# On Windows PowerShell
# $env:FLASK_APP = "wsgi.py"

# Migrate
# flask db init
# flask db migrate
# flask db upgrade